  <div class="master-slider ms-skin-default" id="masterslider<?php echo $module; ?>">
    <?php $i = 1; foreach ($banners as $banner) { ?>
    <div class="ms-slide slide-<?php echo $i; ?>">
      <img src="<?php echo $blank_gif; ?>" data-src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>">
      <?php if ($banner['link']) { ?>
      <div class="ms-layer ms-caption" style="top:0px; left:0px; width:<?php echo $width; ?>px; text-align:center;">
        <a href="<?php echo $banner['link']; ?>"><?php echo $banner['title']; ?></a>
      </div>
      <?php } ?>
    </div>
    <?php $i++; } ?>
    </div>
<script type="text/javascript">     
var slider = new MasterSlider();

slider.control('arrows' ,{insertTo:'#masterslider<?php echo $module; ?>'});  
slider.control('bullets'); 

slider.setup('masterslider<?php echo $module; ?>' , {
  loop: true,
  autoplay: true,
  shuffle: true,
  width: <?php echo $width; ?>,
  height: <?php echo $height; ?>,
  space: 0,
  view: '<?php echo $view; ?>',
  layout: '<?php echo $layout; ?>',
  fullscreenMargin: 57,
  speed: 20
});
</script>