.quickcheckoutleft {
	width: 32%;
	float:left;
}
.quickcheckoutright {
	width: 30%;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.quickcheckoutmid {
	width: 100%;
}
.extra-width {
	width: 35%;
}
#quickcheckoutconfirm .col-sm-6 {
	width: 100% !important;
}
#cart1 {
	padding-top: 10px;
	overflow: auto;
}
table.quickcheckout-cart {
	overflow: auto;
}
.quickcheckout-cart td.image img {
	width: 30px;
	height: auto;
}